.successBoxContainer{
    display: flex;
    justify-content: center;
    width: 700px;
    align-items: center;
    margin-right: -200px;
    margin-left: -200px;
}

.successBox{
    border: 1px solid white;
    border-radius: 20px;
    width: 40%;
    text-align: center;
    height: 200px;
    background: url(../../assets/success.jpg);
    background-size: cover;
}

.noTextDecoration{
    text-decoration: none;
}

.letterStyle{
    font-family: 'Tilt Neon', cursive;
    color: white;
}