.icono {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartImage {
    height: 45px;
}

.contenedorNotificacion {
    background: linear-gradient(135deg, #e0ff00, #fd1d1d, #fcb045);
    width: 18px;
    height: 19px;
    border-radius: 50%;
}

.notificacion {
    text-align: center;
    margin: 1px;
    color: white;


}
