@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
.icono {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartImage {
    height: 45px;
}

.contenedorNotificacion {
    margin-left: 1px;
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.notificacion {
    font-family: 'Tilt Neon', cursive;
    text-align: center;
    margin: 0;
    color: white;
}
