.icono {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartImage {
    height: 45px;
}

.contenedorNotificacion {
    background-color: red;
    width: 15%;
    height: 20px;
    border-radius: 50%;
}

.notificacion {
    text-align: center;
    margin: 1px;
    color: white;


}
